* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: linear-gradient(to right, red 30%, black 30%, black 70%);
  font-family: 'Poppins', sans-serif;
}

.header__container {
  padding-top: 40px;  
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  padding-left: 40px;
}

.header__tittle {
  margin-left: 10px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 20px;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  font-weight: 600;
  font-size: 18px;
}

.nav__link {
  color: white;
  text-decoration: none;
}
.header__block {
  display: flex;
  margin-top: 30px;
}
.header__search {
  margin-right: 100px;
  margin-left: 100px;
  width: 189px;
  position: relative;
}
.header__search::before {
content: '';
width: 20px;
height: 20px;
position: absolute;
display: block;
left: 0;
background-image: url(img/search.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
.header__input-search {
  outline: none;
  border: none;
  background: black;
  color: white;
  border-bottom:1px solid #FFFFFF ;
  padding-bottom: 8px;
  width: 100%;
  padding-left: 44px;
}
.header__input-search::placeholder {
  font-weight: 400px;
  color: #a8a8a8;
}
.nav__item {
  margin-left: 72px;

}
.main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 350px;
}

.main__img-wrap {
  margin-left: 200px;
  width: 100%;
  height: 100%;
}

.main__img {
  position: absolute;
  margin-top: 80px;
  overflow: hidden;
}

.main__block {
  left: 0;
  padding-top: 480px;
}

.main__name {
  font-weight: 600;
  font-size: 20px;
  margin-left: 65px;
}